[bumpversion]
current_version = 5.9.1
tag = false
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = 
	{major}.{minor}.{patch}

[bumpversion:file:Directory.Build.props]
search = <Version>{current_version}</Version>
replace = <Version>{new_version}</Version>

[bumpversion:file:src/Torrentarr.Core/Configuration/TorrentarrConfig.cs]
search = public string ConfigVersion {{ get; set; }} = "{current_version}";
replace = public string ConfigVersion {{ get; set; }} = "{new_version}";
